*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

article{
  background-color: #b9b9b9;
  border-style: solid;
  color: #8e8e8e;
  margin: 20px;
}

.border-marquee{
  background-color: #b9b9b9;
  border-style: solid;
  color: #070707;
  margin: 20px;
}

article>p{
  padding: 5px;
}

.link-post{
  text-decoration: none;
  text-transform: uppercase;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

footer{
  background-color: #6c757d;
  text-align: center;
  padding: 1rem;
}

.tengah-gambar{
  align-items: center;
  
}

.postingan{
  background-image: url(images/pwfv09.png);
}

.atribute{
  text-decoration: none;
  color: #000000;
}

.atribute:hover{
  color: #313131;
}

.cp-slides{
  color: #070707;
}

.list-anime{
  margin-left: 10px;
}

.tabel-desc{
  border-style: solid;
  border-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

li th{
  font-family: 'Poppins', sans-serif;
}

td{
  font-family: 'Poppins', sans-serif;
}

.goto-hype{
  color: #fff;
}

.goto-hype:hover{
  color: #bebebe;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 20px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 90%;
  animation-duration: 4s;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  opacity: 20%;
}

h5{
  color: #3a3a3a;
}

.bg-back{
  background-color: #1a1d1d;
  padding: 13px;
  margin: 7px;
  border-color: #212529;
  border-radius: 6px;
}

.bg-back2{
  background-color: #202122;
}

.font-color-a{
  color: #818181;
}

.bttn-a{
  padding: 10px;
}

.bg-bttn-dark{
  background-color: #cfcfcf;
}

.atas-solid{
  border-top-left-radius: 10px;
}

.bg-back3{
  background-color: #3a3a3a;
  padding: 10px;
  margin: 7px;
  border-radius: 7px;
}

.bg-back4{
  background-color: #3a3a3a;
}

.yrNw{
  font-family: 'Poppins', sans-serif;
  color: #bebebe;
}

.text-abu{
  color: #000000;
}

.answer{
  background-color: #444444;
}

.w-and-h{
  width: auto;
  height: auto;
}

.tv-color {
  color: #A5C9CA ;
}

.ova-color{
  color: #E7F6F2;
}

.no-under{
  text-decoration: none;
}

.judul-artikel{
  background-color: #1a1d1d;
  color: #8a8a8a;
  padding: 8px;
  margin: 12px;
  border-radius: 7px;
  text-align: center;
}

::-webkit-scrollbar{
  width: 9px;
}

::-webkit-scrollbar-track{
  background-color: #afaeae;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(102, 102, 102);
  border-radius: 10px;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #a0a0a0;
  animation: loader 2s infinite ease;
}
.loader-inner{
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background: #808080;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(160deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}